@page "/{culture}/FileTypeEdit/{id:int}"
@inject IFileTypeService _fileTypeService
@inject NavigationManager _navigation
@inject NotificationService _notice
@inject BaseRequestParameter _baseRequestParameter
@inject IStringLocalizer<Resource> _localizer
<Form Model="@command"
      LabelColSpan="8"
      WrapperColSpan="16">
    <div class="row form-style">
        @if (!string.IsNullOrEmpty(errorMessage.error))
        {
            <Alert Message="@errorMessage.error" Type="@AlertType.Error" />
        }
        <Input @bind-Value=@context.Id Type="hidden" />

        <div class="col-6">
            <FormItem Label="@_localizer["نام"]">
                <Input @bind-Value="@context.Name" />
            </FormItem>
        </div>
        <div class="col-6">
            <SingleSelect dataSource="source"
                          bindValue="@context.Type"
                          label="@_localizer["نوع"]"
                          placeHolder="@_localizer["انتخاب کنید..."]"
                          OnSetSelected="OnSetSelected" />
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["پسوند"]">
                <Input @bind-Value="@context.Extension" />
            </FormItem>
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["سایز"]">
                <Input @bind-Value="@context.Size" />
            </FormItem>
        </div>
        <div class="col-12 m-1">
            <Button class="ant-btn ant-btn-primary" HtmlType="submit" OnClick="@Edit">
                @_localizer["ثبت"]
            </Button>
            <Button class="ant-btn ant-btn-danger" Type="@ButtonType.Default" HtmlType="cancel" OnClick="()=>StateChangeAfterAction.InvokeAsync(true)">
                @_localizer["انصراف"]
            </Button>
        </div>

    </div>


</Form>




@code {
    [Parameter]
    public string culture { get; set; }
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public EventCallback<bool> StateChangeAfterAction { get; set; }
    FileTypeModels.EditFileType command = new();
    public RestEception errorMessage = new RestEception();

    public bool error = false;
    #region Single Select
    List<DataType> source = new List<DataType>
   {
      new DataType { key = "عکس", value = 0},
      new DataType { key = "فیلم", value = 1},
   };
    protected async Task OnSetSelected(int selected)
    {
        command.Type = selected;
    }
    #endregion
    protected override async Task OnInitializedAsync()
    {
        var model = await _fileTypeService.GetById(id);
        command = model.Data.Adapt<FileTypeModels.EditFileType>();
    }
    private async Task Edit()
    {
        try
        {

            var result = await _fileTypeService.UpdateEntity(id, command);
            if (result.StatusCode == HttpStatusCode.OK)
            {

                await _notice.Success(new NotificationConfig
                    {
                        Duration = 1.5,
                        Message = "تبریک",
                        Description = "با موفقیت ویرایش شد!",

                    });


                await StateChangeAfterAction.InvokeAsync();
            }
            else
            {
                error = true;
                var response = result.Content.ReadAsStringAsync();
                errorMessage = Newtonsoft.Json.JsonConvert.DeserializeObject<RestEception>(response.Result);
            }
        }
        catch (Exception err)
        {
            throw err;
        }
    }
}