@page "/{culture}/UserCreate"
@using Microsoft.AspNetCore.WebUtilities;
@using WEUPanel.Pages.Account;
@inject IUserService _userService
@inject NavigationManager _navigation
@inject NotificationService _notice
@inject BaseRequestParameter _baseRequestParameter
@inject IStringLocalizer<Resource> _localizer
@using WEUPanel.Pages.UserRole;
@using WEUPanel.Shared.Common
@inject IUserRoleService _userRoleService
@inject State state
<div class="goback-btn">
    <Button Danger OnClick="@(()=>{_navigation.NavigateTo(QueryHelpers.AddQueryString(culture + "/users", query));})">@_localizer["بازگشت به عقب"]</Button>
    <Button Danger OnClick="@(()=>{_navigation.NavigateTo(culture+"/");})">@_localizer["بازگشت به صفحه اصلی"]</Button>
</div>
<br />
<Form Model="@command"
      LabelColSpan="8"
      WrapperColSpan="16">
    <div class="row form-style">

        @if (!string.IsNullOrEmpty(errorMessage.error))
        {
            <Alert Message="@errorMessage.error" Type="@AlertType.Error" />
        }
        <div class="col-6">
            <FormItem Label="@_localizer["نام"]">
                <Input @bind-Value="@context.FirstName" />
            </FormItem>
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["نام خانوادگی"]">
                <Input @bind-Value="@context.LastName" />
            </FormItem>
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["نام کاربری"]">
                <Input @bind-Value="@context.UserName" />
            </FormItem>
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["ایمیل"]">
                <Input @bind-Value="@context.Email" />
            </FormItem>
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["تلفن"]">
                <Input @bind-Value="@context.PhoneNumber" />
            </FormItem>
        </div>
        <div class="col-12">
            <SingleSelectString dataSource="roles"
                          bindValue="@context.Role"
                          label="@_localizer["نقش"]"
                          placeHolder="@_localizer["یک نقش انتخاب کنید..."]"
                          OnSetSelected="OnSetSelected" />
        </div>
        <div class="col-6">
            <FormItem Label="@_localizer["رمزعبور"]">
                <InputPassword @bind-Value="@context.Password" />
            </FormItem>
        </div>



        <div class="col-12 m-1">
          
                <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="@Create">
                @_localizer["ثبت"]
                </Button>
           

        </div>

    </div>


</Form>




@code {
    [Parameter]
    public string culture { get; set; }
    UserModels.CreateUser command = new UserModels.CreateUser();
    public RestEception errorMessage = new RestEception();
    Dictionary<string, string> query;
    public List<GetNameAndIdString> userRoles = new();
    List<DataTypeString> roles = new List<DataTypeString>();
    protected override async Task OnInitializedAsync()
    {
        query = new Dictionary<string, string>
        {
                    { "page", state.SelectedPage }
        };
        userRoles = await _userRoleService.GetAll();
        foreach (var item in userRoles)
        {
            roles.Add(new DataTypeString { key = item.Name, value = item.Name });
        }
    }
    public bool error = false;
    
    protected async Task OnSetSelected(string selected)
    {
        command.Role = selected;
    }

    private async Task Create()
    {
        try
        {

            var result = await _userService.AddEntity(command);
            var registerResult = JsonSerializer.Deserialize<RegisterResult>(await result.Content.ReadAsStringAsync(), new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            if (registerResult.statusCode == HttpStatusCode.OK)
            {
                await _notice.Success(new NotificationConfig
                    {
                        Duration = 1.5,
                        Message = "تبریک",
                        Description = "با موفقیت افزوده شد!",

                    });
                _navigation.NavigateTo(QueryHelpers.AddQueryString(culture + "/users", query));

            }
            else
            {
                error = true;
                string response = result.Content.ReadAsStringAsync().Result;
                errorMessage = Newtonsoft.Json.JsonConvert.DeserializeObject<RestEception>(response);
            }
        }
        catch (Exception err)
        {
            throw err;
        }
    }
}